@font-face{
  font-family:"Proxima Nova W01 Regular";
  src:url("fonts/5596735/0284d834-b51e-4b47-b19b-43794ae8adc5.eot?#iefix");
  src:url("fonts/5596735/0284d834-b51e-4b47-b19b-43794ae8adc5.eot?#iefix") format("eot"),url("fonts/5596735/b38b8bd9-d96f-4bf9-add1-adbd2b08b802.woff2") format("woff2"),url("fonts/5596735/52ed7b2d-8a31-4b18-a1d5-8685608b0889.woff") format("woff"),url("fonts/5596735/50a5dbaa-8f78-4b2e-9546-ff09794682fe.ttf") format("truetype");
}
@font-face{
  font-family:"Proxima Nova W01 Semibold";
  src:url("fonts/5738932/0544df48-eb9a-4e54-a363-6bd93f52f1f4.eot?#iefix");
  src:url("fonts/5738932/0544df48-eb9a-4e54-a363-6bd93f52f1f4.eot?#iefix") format("eot"),url("fonts/5738932/c7dcb253-8dca-459b-aaa9-afef9131ef22.woff2") format("woff2"),url("fonts/5738932/390be235-bf11-42ee-8ba1-2dd10ca6a4ac.woff") format("woff"),url("fonts/5738932/b0417299-cd03-4eb8-a744-f7bfa9ebc1bd.ttf") format("truetype");
}
/* This CSS resource incorporates links to font software which is the valuable copyrighted property of Monotype and/or its suppliers. You may not attempt to copy, install, redistribute, convert, modify or reverse engineer this font software. Please contact Monotype with any questions regarding Web Fonts: http://www.fonts.com */

h1 {
  font-family: var(--main-sans-serif-semibold);
  font-style: normal;
  text-transform: uppercase;
  font-size: 48px;
  color: #333333;
  margin-bottom: 0px;
}
h1 a:hover {
  color: #333333;
}
h2 {
  font-family: var(--main-sans-serif);
  font-style: normal;
  text-transform: uppercase;
  color: #333333;
}
h3 {
  font-family: var(--main-navigation);
  font-weight: normal;
  font-style: normal;
  color: #999999;
  font-size: 18px;
  -webkit-text-size-adjust: none;
  line-height: 2;
}
h3 a {
  color: #999999;
}
h3 a:hover {
  color: #666666;
}
h3 a.current {
  color: #333333;
}
h3 a.current:hover {
  color: #666666;
}
body {
  background: #f8f8f8;
}
#title_card {
  display: inline-block;
  padding: 100px;
  width: 500px;
  border: 1px solid #919191;
}
#title_body {
  padding: 60px;
  padding-top: 80px;
  text-align: center;
}
a {
  text-decoration: none;
  color: #333333;
}
a:hover {
  color: #666666;
}
a:active {
  color: #999999;
}
p {
  text-align: justify;
  font-family: var(--main-serif);
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  color: #333333;
	
  padding-top: 0px;
  margin-top: 0px;
}